.custom-marker {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.selected-marker {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 0 8px rgba(255, 152, 0, 0), 0 2px 8px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.4);
  }
}
